<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}

    {% block title %} Faciliteter {% endblock %}
    
    {% block content %}
    <head>
        <title> Add Team Member</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <h1>Tilføj medlem til hold: {{team_id}}</h1>
        
        <form action = "add_team_member" method = "POST" >
            <input type = "hidden" name = "tid" value = "{{team_id}}" />
            <input type = "submit" value = "SØG" />
            <input type = "text" name = "name" />
        </form>

        <form action="add_member_to_team" method = "POST">
            From date <input type = "text" name = "from_date" />
            To date <input type = "text" name = "to_date" />
        <table>
                <tr>
                    <th>Tilføj</th>
                    <th>Medlems ID</th>
                    <th>Navn</th>
                    <th>Alder</th>
                    <th>CPR</th>
                    <th>Adresse</th>
                    <th>Telefon</th>
                    <th>Email</th>
                </tr>
        
        {% for row in rows: %}
            <tr>
                <td>
                    <input type = "hidden" name = "mid" value = "{{row[0]}}" />
                    <input type = "hidden" name = "tid" value = "{{team_id}}" />
                    <input type = "submit" name = "Tilføj" value = "Tilføj" />
                </td>
                <td>{{(row[0])}}</td>
                <td>{{(row[1])}}</td>
                <td>{{(row[2])}}</td>
                <td>{{(row[3])}}</td>
                <td>{{(row[4])}}</td>
                <td>{{(row[5])}}</td>
                <td>{{(row[6])}}</td>
            </tr>
        {% endfor %}
        </table>
        </form>
    </body>
    {% endblock %}

</html>