<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- Clubhus</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}} ">
    {% block head %} {% endblock %}
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/medlemmer">Medlemmer</a></li>
            <li><a href="/hold">Holdstruktur</a></li>
            <li><a href="/faciliteter">Faciliteter</a></li>
            <li><a href="/mail">Beskeder</a></li>
          </ul>
        </nav>
      </header> 
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
<footer>
    <p>© 2023 Clubhus. All rights reserved.</p>
    <p>Created by <a href="#">The founders of Clubhus</a></p>
  </footer>
</html>