<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}

    {% block title %} Faciliteties Detailer {% endblock %}
    
    {% block content %}
    <head>
        <title> Faciliteter Detailer</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <a href="/faciliteter">Tilbage</a>
        <h1>Facilitet på {{vej}}</h1>
        
        <form action="delete_facility" method = "POST">
            <input type = "hidden" name = "address" value = "{{vej}}" />
            <input type = "submit" value = "Slet"/>
        </form>
    
        <table>
        <form action="add_booking" method = "POST">
            <tr>
                <td></td>
                <td><input type = "text" name = "tid" /></td>
                <input type = "hidden" name = "address" value = "{{vej}}" />
                <td><input type = "text" name = "from_date" placeholder="dd/mm-yyyy HH:MM"/></td>
                <td><input type = "text" name = "to_date" placeholder="dd/mm-yyyy HH:MM"/></td>
                <td><input type = "submit" value = "Tilføj"/></td>
            </tr>
        </form>
            <tr>
                <th>Hold navn</th>
                <th>Hold id</th>
                <th>Start tidspunkt</th>
                <th>Slut tidspunkt</th>
                <th>Slet</th>
            <tr>
        <form action="delete_booking" method = "POST">
            {%for row in bookings:%}
                <tr> 
                    <td> {{row[0]}} </td>
                    <td> {{row[1]}}</td>
                    <td> {{datetime.fromtimestamp(row[2]).strftime('%d/%m-%Y %H:%M')}}</td>
                    <td> {{datetime.fromtimestamp(row[3]).strftime('%d/%m-%Y %H:%M')}}</td>
                    <td><input type="submit" value="X" name="{{(vej, row[1], row[2], row[3])}}" /></td>
                </tr>
            {%endfor%}
        </form>
        </table>
    
    </body>
    {% endblock %}

</html>